*{
padding: 10px;
}
body{
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    
}

.header>.bs{
    display: flex;
    margin-left: 1400px;
}
/* .main.img{
    width: 100%;
} */
 div.main img{
    width:100% ;
} 
.content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2pc;
    margin-left: 100px;
}

.a{
    text-align: center ;
}